#header {
    color: #d93025;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 55px;
}

#gray-text {
    font-size: 13px;
    color: gray;
}

.row {
    padding-top: 10px;
}

.row>.col-2 {
    padding-left: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row>.col-4 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.prompts {
    font-size: 12px;
}

.col-8 {
    text-align: right;
}